configuration {
    modi: "drun,run,calc,filebrowser,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    display-drun: "Apps";
    display-run: "Run";
    display-calc: "Calc";
    display-filebrowser: "Files";
    display-window: "Windows";
    terminal: "foot";
}
